[run]
branch = True
source = cloudkittyclient
omit =
    cloudkittyclient/tests/*,
    cloudkittyclient/openstack/*,
    cloudkittyclient/i18n.py,
    cloudkittyclient/common/client.py,
    cloudkittyclient/common/exceptions.py

[report]
ignore_errors = True
